<h1> Edit the Employee </h1>
<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>
<%= form_for @employee do |form_helper|%>
    <%= form_helper.label :first_name %>
    <%= form_helper.text_field :first_name %><br/>
    <%= form_helper.label :last_name %>
    <%= form_helper.text_field :last_name %><br/>
    <%= form_helper.label :alias %>
    <%= form_helper.text_field :alias %><br/>
    <%= form_helper.label :title %>
    <%= form_helper.text_field :title %><br/>
    <%= form_helper.label :office %>
    <%= form_helper.text_field :office %><br/>
    <%= form_helper.label :img_url %>
    <%= form_helper.text_field :img_url %><br/>
    <%= form_helper.label :dog_id %>
    <%= form_helper.collection_select :dog_id, Dog.all, :id, :name %><br/>
    <%= form_helper.submit "Done!" %>
<% end %>